---
name: items
url: /items
controller: ItemCtrl
---

<h1>Items</h1>
<h4>is_loading: {{loading}}</h4>

<section>

	<div class="grid-block">
		<input type="text" placeholder="Search by name" ng-model="query" ng-show="items.length">
	</div>

	<div class="grid-block card card-section" ng-repeat="item in items | filter:{ name: query}">
				<div class="medium-4 grid-content">{{item.name}}</div>
				<div class="medium-3 inline-label">
					<div class="secondary button" ng-click="panelScreen(item)" zf-open="panelEdit">Edit</div>
					<div class="warning button" ng-click="deleteItem(item)">Delete</div>
				</div>
	</div>

	<div class="grid-block ">
		<div class="secondary button large" zf-open="panelEdit">Create new Item</div>
	</div>

 
<div zf-panel="" id="panelEdit" position="bottom">


   <form>

   <div class="grid-block align-right">
			<button class="success button" ng-click="saveEdit(currentItem)" zf-close="">Save</button>
	    	<button class="secondary button" ng-click="cancelEdit()" zf-close="">Cancel</button>
	</div>

   	<div class="grid-block">
   		<div class="medium-12 grid-content">
			<label>
				Name :
				<input type="text" placeholder="Name" ng-model="currentItem.name">
			</label>
		</div>
	</div>
		
		<div class="grid-block">
			<div class="small-12 medium-6 grid-content">
				<label>
				Price :
				<input type="text" placeholder="Price" ng-model="currentItem.price">
				</label>
			</div>
			<div class="small-12 medium-6 grid-content" ng-model="currentItem.category">
				<label>Select Label</label>
				<select ng-model="currentItem.category">
					<option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>			
				</select>
			</div>
		</div>


	</form>


</div>

<a href="#!/items/fuck">open panel</a>


<div ui-view></div>


	

</section>


