---
name: panel
url: /:id
parent: items
controller: PanelCtrl
---

<div class="modal-overlay is-active" id="modal">
 <aside class="modal is-active">
    <a ui-sref="items" class="close-button">×</a>
        <div class="grid-content">
          <p> {{test}}</p>
          <pre> {{$stateParams}}</pre>
          <p> your terms and conditions or whatever</p>
          <p> {{loading}}</p>
          <button type="submit" class="button medium" ng-click="make()">Accept</button>
       </div>
    </div>
 </aside>
</div>
