<h1>Images</h1>

<p>
	<a ui-sref="edit({id:'2'})">edit image 2</a>
	- 
	<a ui-sref="add">add</a>
</p>

<button ng-click="$.images.firstPage();">first</button>
.
<button ng-click="$.images.prevPage();">prev</button>
<button ng-click="$.images.nextPage();">next</button>
.
<button ng-click="$.images.lastPage();">last</button>
.
<button ng-click="$.images.Page(3);">page 3</button>
.
<button ng-click="$.images.Refresh();">refresh</button>
.
<button ng-click="$.images.load(3).with(['tags','owner']);">with tags+owners</button>
<button ng-click="$.images.where({name: 'sport'});">where</button>

<input type="text" ng-model="query" ng-change="$.images.where({name: query});">


<div class="grid-block">
	<div class="grid-content">
		<ul>
	<li>currentPage: {{$.images.meta().$currentPage}}</li>
	<li>pageCount: {{$.images.meta().$pageCount}}</li>
	<li>perPage: {{$.images.meta().$perPage}}</li>
	<li>totalCount: {{$.images.meta().$totalCount}}</li>
</ul>


	</div>
	<div class="grid-content">
		<ul>
	<li>isFirst: {{$.images.isFirst()}}</li>
	<li>isLast: {{$.images.isLast()}}</li>
	<li>existNext: {{$.images.existNext()}}</li>
	<li>existPrev: {{$.images.existPrev()}}</li>
</ul>
	</div>
</div>

<pre>
{{ $.images | json }}
</pre>

<div ui-view></div>