<div class="stretch-container">
	<div class="grid-content">

	  <h2 class="title" ng-if="!$.newUser">Login</h2>
	  <h2 class="title" ng-if="$.newUser">Signup</h2>

	  <form name="form" role="form" ng-submit="$.submitForm()" novalidate>

		<label>
			<input type="text" name="username" placeholder="username" ng-model="$.credentials.username" required>
			<p class="error-msg" ng-show="form.username.$dirty && form.username.$error.required">Username is required.</p>
			<p class="error-msg" ng-show="form.username.$error.server && form.$invalid">{{form.username.$error.message}}</p>
		</label>

		<label ng-if="$.newUser">
			<input type="email" name="email" placeholder="email" ng-model="$.credentials.email" required>
			<p class="error-msg" ng-show="form.email.$dirty && form.email.$error.required">Email is required.</p>
			<p class="error-msg" ng-show="form.email.$dirty && form.email.$invalid">Enter a valid email.</p>
			<p class="error-msg" ng-show="form.email.$error.server && form.$invalid">{{form.email.$error.message}}</p>
		</label>

		<label>
			<input type="password" name="password" placeholder="password" ng-model="$.credentials.password" required>
			<p class="error-msg" ng-show="form.password.$dirty && form.password.$error.required">Password is required.</p>
			<p class="error-msg" ng-show="form.password.$error.server && form.$invalid">{{form.password.$error.message}}</p>
		</label>

		<label class="grid-block remember" ng-if="!$.newUser">
			<div class="grid-content shrink">
				<input ng-model="$.credentials.rememberMe" type="checkbox" ng-true-value="1" ng-false-value="0">
			</div>
			<div class="grid-content v-align">
				Remember me
			</div>
		</label>

		<div class="grid-block">
			<div class="grid-content">
				<button 
			      	type="submit" 
			      	class="info button expand" 
			      	ng-class="{ 'disabled': form.$invalid }"
			    >
			    	<span ng-if="!$.newUser">Login</span>
			    	<span ng-if="$.newUser">Signup</span>
			    </button>
			</div>
		    <div class="grid-content shrink v-align" ng-if="!$.newUser"><a ui-sref="recovery">Forgot password</a></div>
		    <div class="grid-content shrink v-align" ng-if="!$.newUser"><a ui-sref="signup">Signup</a></div>
		    <div class="grid-content shrink v-align" ng-if="$.newUser"><a ui-sref="login">I already have an account</a></div>
		</div>

		<div class="grid-content intro" ng-if="!$.newUser">
			<p>Hit Signup and use a real email to try the Password Recovery or just login with :</p>
			<p>demo / demo</p>
		</div>
		
	   </form>

	</div>
</div>